{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}
<script type="text/javascript" src="{% static 'comms/js/jquery-3.3.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'comms/css/style.css' %}" /> 

<div class="container">

	<div class="row">
	<div class="col-3">
		blah blah
	</div> <!-- To center the col-6 below -->

	<!-- To add in a contacts panel on the left -->
	<div class="col-6">
		{% for m in chat_msgs %}
			<li> {{m.msg}}</li>
		{% endfor %}
	</div>
</div>
</div>
<div class="container">
	<div class="col-6">
		<form action="send_msg" method="post">
			{% csrf_token %}
			<input id="send_msg" type="text" name="send_msg" value="">
			<input type="submit" class="btn btn-primary" value="Send" />
		</form>
	</div>
</div>
